<div class="d-flex align-items-center justify-content-between">
  <div style="box-shadow: none !important;">
    <page-header [title]="'::DanhMucs' | abpLocalization" [description]="'::DanhMucs.CapCoQuan' | abpLocalization"></page-header> 
  </div>
  <div class = "btn-create">
    <button *abpPermission="'Cts.DanhMucs.CapCoQuan.Create'" id="create" class="btn btn-primary my-custom-btn" type="button" (click)="createCapCoQuan()">
      <i class="fa fa-plus me-1"></i>
      <span>{{ '::CreateNew' | abpLocalization }}</span>
    </button>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <div class="search-container">
      <label for="searchInput" class="visually-hidden">{{ '::Search' | abpLocalization }}</label>
      <input
        id="searchInput"
        type="text"
        class="form-control search-input"
        placeholder="Tìm kiếm..."
        (keyup.enter)="onSearch(searchInput.value)"
        #searchInput
      />
    </div>
    <ngx-datatable 
    [headerHeight]="40"
    [footerHeight]="50"
    rowHeight="auto"
    [rows]="filteredRows" 
    [columnMode] = "ColumnMode.force" 
    [limit]="pageSize"
    default>
      <ngx-datatable-column name="#" [minWidth]="50" [maxWidth]="60">
        <ng-template let-rowIndex="rowIndex" ngx-datatable-cell-template>
          {{  currentPage * pageSize + rowIndex + 1 }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::TenCapCoQuan' | abpLocalization" prop="tenCapCoQuan">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div class="text-link" style="cursor:pointer; color:#007bff;"
                (click)="viewCapCoQuan(row)">
            {{ row.tenCapCoQuan }}
          </div>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::MaCapCoQuan' | abpLocalization" prop="maCapCoQuan"></ngx-datatable-column>
      <ngx-datatable-column [name]="'::CreationTime' | abpLocalization" prop="creationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.creationTime | date: 'dd/MM/yyyy' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::LastModificationTime' | abpLocalization" prop="lastModificationTime">
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{ row.lastModificationTime ? (row.lastModificationTime | date: 'dd/MM/yyyy') : 'N/A' }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column [name]="'::Enum:TrangThai' | abpLocalization" prop="trangThai">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <span
            [ngStyle]="{
              'background-color': row.trangThai === 1 ? '#28a745' : '#dc3545',
              'color': '#fff',
              'padding': '2px 10px',
              'border-radius': '12px',
              'display': 'inline-block',
              'width': '130px',
              'text-align': 'center'
            }"
          >
            {{ getTrangThaiLabel(row.trangThai) | abpLocalization}}
          </span>
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        [name]="'::Actions' | abpLocalization"
        [width]="60"
        [sortable]="false"
      >
        <ng-template let-row="row" ngx-datatable-cell-template>
          <div ngbDropdown container="body" class="d-inline-block">
            <button
              class="btn btn-primary btn-sm dropdown-toggle"
              data-toggle="dropdown"
              aria-haspopup="true"
              ngbDropdownToggle
            >
              <i class="fa fa-cog me-1"></i>
            </button>
            <div ngbDropdownMenu>
              <button *abpPermission="'Cts.DanhMucs.CapCoQuan.Edit'" ngbDropdownItem (click)="editCapCoQuan(row.id)">
                {{ '::Edit' | abpLocalization }}
              </button>
              <button *abpPermission="'Cts.DanhMucs.CapCoQuan.Delete'" ngbDropdownItem (click)="delete(row.id)">
                {{ '::Delete' | abpLocalization }}
              </button>
            </div>
          </div>
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
    <div class="d-flex align-items-center justify-content-end" style="box-shadow: none !important;">
      <div>
        {{ "Tổng cộng: " }} {{ CapCoQuan.totalCount }}
      </div>
      <div style="padding-left: 0px !important;">
        <p-paginator 
          [rows]="pageSize" 
          [totalRecords]="CapCoQuan.totalCount"
          [rowsPerPageOptions]="[5,10,20]"
          (onPageChange)="onPageChange($event)">
        </p-paginator>
      </div>
    </div>
  </div>
</div>

<!-- Add the modal here -->
<abp-modal [(visible)]="isModalOpen">
  <ng-template #abpHeader>
    <h3>{{ (selectedCapCoQuan.id ? '::Permission:DanhMucs.CapCoQuan.Edit' : '::Permission:DanhMucs.CapCoQuan.Create' ) | abpLocalization }}</h3>
  </ng-template>

  <ng-template #abpBody>
    <form [formGroup]="form" (ngSubmit)="save()">
      <div class="mt-2">
        <label for="CapCoQuan-tenCapCoQuan">{{'::TenCapCoQuan' | abpLocalization }}</label><span class="required-filed"> * </span>
        <input type="text" id="CapCoQuan-tenCapCoQuan" class="form-control" formControlName="tenCapCoQuan" autofocus />
      </div>

      <div class="mt-2">
        <label for="CapCoQuan-maCapCoQuan">{{'::MaCapCoQuan' | abpLocalization }}</label><span class="required-filed"> * </span>
        <input type="text" id="CapCoQuan-maCapCoQuan" class="form-control" formControlName="maCapCoQuan" />
        <!-- <input type="number" id="CapCoQuan-price" class="form-control" formControlName="price" /> -->
      </div>
      <div class="mt-2">
        <label for="CapCoQuan-trangThai">{{'::Enum:TrangThai' | abpLocalization }}</label><span class="required-filed"> * </span>
        <select id="CapCoQuan-trangThai" class="form-control" formControlName="trangThai">
            <option *ngFor="let opt of trangThaiOptions" [ngValue]="opt.value">
                {{ '::Enum:TrangThai.' + opt.key | abpLocalization }}
            </option>
        </select>
      </div>
    </form>
  </ng-template>

  <ng-template #abpFooter>
    <button type="button" class="btn btn-secondary" abpClose>
      {{ '::Close' | abpLocalization }}
    </button>

    <!--added save button-->
    <button class="btn btn-primary" (click)="save()" [disabled]="form.invalid">
      <i class="fa fa-check mr-1"></i>
      {{ '::Save' | abpLocalization }}
    </button>
  </ng-template>

</abp-modal>
