<div class="d-flex" style="height: 100vh">
  <div id="left-panel">
    <a id="cts-banner" href="/">
      <img id="cts-logo" src="assets/logo/bca-logo.png" />
      <div id="cts-title-wrapper">
        <div id="cts-title">Bộ công an</div>
        <div id="cts-subtitle">Cục viễn thông và cơ yếu</div>
        <div id="cts-app-name">Cổng dịch vụ công trực tuyến</div>
      </div>
    </a>
    <div id="nav-menu">
      <p-panelmenu [model]="navMenu" [multiple]="true" />
    </div>
  </div>
  <div id="right-panel">
    <div id="right-panel-header">
      <div id="current-time">{{ currentTime }}</div>
      <div id="control-bars">
        <div id="lang-control" (click)="langMenu.toggle($event)">
          <span>{{ '::Menu:Lang' | abpLocalization }}</span>
          <i class="pi pi-caret-down ms-2"></i>
        </div>
        <p-menu #langMenu [model]="langOptions" [popup]="true">
          <ng-template #item let-item>
            <button type="button" class="btn" (click)="changeLang(item.value)">
              <img [src]="item.icon" width="24" height="16" />
              <span class="ms-2">{{ item.label }}</span>
            </button>
          </ng-template>
        </p-menu>
        <div id="user-control" (click)="userMenu.toggle($event)">
          <div id="user-account-name">{{ getUserDisplayName() }}</div>
          <img id="user-avatar" src="assets/images/anonymous-user.jpg" width="40" height="40" />
        </div>
        <p-menu #userMenu [model]="userOptions" [popup]="true" />
      </div>
    </div>
    <div id="right-panel-body">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>